<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Circular Progress Bar</title>

	<style>
		body {
			padding: 0;
			margin: 0;
		}

		object {
			width: 100%;
			height: 30em;
		}
	</style>
</head>

<body style="background-color: #222629;">
	<script type="text/javascript" src="script.js"></script>
	<script>
		var bar = createProgressBar("Server", document.getElementsByTagName("body")[0]);

		bar.addEventListener("load", function() {
			bar.addElement("CPU", [59, 114, 196]);
			bar.setProgress("CPU", 0.6);
		});

		bar.addEventListener("load", function() {
			bar.addElement("RAM", [80, 165, 199]);
			bar.setProgress("RAM", 0.5);
		});
	</script>
</body>
</html>
